# variables declaration

In [1]:
# here type of variable is determined dynamically. We need not do it specifically. Below variable a is assinged value of 10
# python will infer the type as int by default. to know the type of the variable we need to use type() function
a=10
type(a)

int

In [2]:
# one more example here a is of type str
a='10'
type(a)

str

In [3]:
# float type
b=10.2
type(b)

float

In [4]:
# bool type
a=True
type(a)

bool

# Operations

In [5]:
# + operation
a=10
b=20
print(a+b)

30

In [6]:
# - operation
print(b-a)

10

In [7]:
# multiplication
print(a*b)

200

In [8]:
# division. Divsion by uses float type as it's out put
c=a/b
print(c)
print(type(c))
c=b/a
print(c)
print(type(c))

0.5
<class 'float'>
2.0
<class 'float'>

In [9]:
a=3
b=11
c=b/a
print(c)
# it will ignore the decimail part
c=b//a
print(c)

3.6666666666666665
3

In [10]:
# power of operator is **
3**2

9

# Logical Operators

In [11]:
a=True
b=False

In [12]:
print(a&b)
print(a and b)
print(a|b)
print(a or b)
print(not a)
print(not b)

False
False
True
True
False
True

# Data types

<ul>
    <li>list</li>
    <li>set</li>
    <li>dictionary</li>
</ul>

In [13]:
# Declaring list,set,dictionary

myls=[10,20,30]
myset={10,20,30,40,40,50}
mydic={"1":10,"2":20,"3":30}
print("List : ",myls," type : ",type(myls))
print("Set : ",myset," type : ",type(myset))
print("Dict : ",mydic," type : ",type(mydic))

List :  [10, 20, 30]  type :  <class 'list'>
Set :  {40, 10, 50, 20, 30}  type :  <class 'set'>
Dict :  {'1': 10, '2': 20, '3': 30}  type :  <class 'dict'>

In [14]:
# iterating through list and print whether the number is even or odd
listofNumbers=[1,2,3,4,5,6,7,8]
for num in listofNumbers:
    if num %2==0:
        print(num," is even")
    else:
        print(num," is odd")

1  is odd
2  is even
3  is odd
4  is even
5  is odd
6  is even
7  is odd
8  is even

# Lists in detail

In [15]:
x=[1,2,3,4,5,6,7,8,9]
print(len(x))

9

In [16]:
# starting from begining and ending at given index. Note index starts with 0
x[:3]

[1, 2, 3]

In [17]:
# starting at 3rd index till end of the list
x[3:]

[4, 5, 6, 7, 8, 9]

In [20]:
# it is backward index i.e -1 index value is 9, -2 index value is 8 and so on
x[-2:]

[8, 9]

In [24]:
# it will extract the elements in the list and append them to other list
x.extend([10,11])
print(x)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 10, 11]

In [25]:
# append single element to the list
x.append(12)

In [26]:
x

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 10, 11, 12]

In [27]:
# lists inside list
y=[13,14,15]
anotherlist=[x,y]
anotherlist

[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 10, 11, 12], [13, 14, 15]]

In [17]:
print(len(anotherlist))
anotherlist[0]

2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [28]:
anotherlist[1]

[13, 14, 15]

In [29]:
anotherlist[-1]

[13, 14, 15]

# Functions

In [30]:
def test1():
    return "test1"

test1()

'test1'

In [31]:
def test2(a):
    return a*2

test2(3)

6

In [32]:
test2('abcd')

'abcdabcd'

# Lambda Functions

In [33]:
a=lambda x: x*x
a(10)

100

In [35]:
list(map(lambda x: x*x,x))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 100, 121, 144]

In [36]:
my_sum=lambda x,y: x+y
my_sum(10,20)

30

In [39]:
from functools import reduce

In [43]:
#find the maximum in a list
print(x)
max(x)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 10, 11, 12]

12

In [57]:
# find the maximum of a sequence(This already exists as max())
max_find=lambda a,b: a if a>b else b
lst=[47,11,42,13]
lst1=[47,11,42,13]

In [55]:
list(map(lambda x: (((9/5)*x+32)),lst))

[116.60000000000001, 51.8, 107.60000000000001, 55.400000000000006]

In [63]:
list(map(lambda x,y:x+y,lst,lst))

[94, 22, 84, 26]

# reduce()

In [45]:
# Find max
reduce(max_find,lst)

47

In [46]:
#sum of numbers in a list
lst_sum= lambda a,b : a+b
ls=[1,2,3,4,5]
reduce(lst_sum,ls)

15

# filter()

In [68]:
even_check= lambda num: True if num%2==0 else False

In [69]:
lst=[1,2,3,4,5,6,7,8]
list(filter(even_check,lst))

[2, 4, 6, 8]

# Function Overloading in other languages

In [70]:
def calculate(var1:int,var2:int):
    return var1+var2

In [75]:
def calculate(var1,var2,operator):
    if operator=='+':
        return var1+var2
    if operator == '*':
        return var1*var2
    if operator == '-':
        return var1-var2

In [76]:
calculate(2,3)

TypeError: calculate() missing 1 required positional argument: 'operator'

In [77]:
calculate(2,3,'*')

6

# Function overloading in python

Function overloading is directly supported in python. 
We can use keyword argument as work around to implement function overloading

In [82]:
def calculate(var1,var2,operator='+'):
    if operator=='+':
        return var1+var2
    if operator == '*':
        return var1*var2
    if operator == '-':
        return var1-var2

In [79]:
calculate(3,4)

7