# Functions

In [34]:
# function with two parameter
def addNumbers(a,b):
    return a+b

In [35]:
addNumbers(10,20)

30

In [36]:
# creating empty function
def test(x,y):
    pass

In [37]:
test

In [39]:
# As we did not pass any parameters to this function it will throw exception
test()

TypeError: test() missing 2 required positional arguments: 'x' and 'y'

In [40]:
test(10,20)

In [41]:
def test(x,y):
    print(x+y)

In [42]:
test(23,45)
test(1,2)
test(4,5)
test(4,8)

68
3
9
12

In [43]:
def test1(b,m):
    return b*m

In [44]:
test1(5,89)

445

In [45]:
# As test function is not returing any value hence below code will fail
test(1,2)+6

3

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

In [46]:
# As test1 method returns int below operation is possible
test1(1,2)+6

8

In [47]:
type(test(10,20))

30

NoneType

In [48]:
type(test1(10,20))

int

In [49]:
a=test1(10,20)
a

200

In [50]:
b=test(10,20)

30

In [51]:
b

In [52]:
type(b)

NoneType

In [53]:
def test2(t,n,m):
    return t+n

In [55]:
# This function have 3 parameters and if we dont pass exact number of parameters then then this will through exception
test2(2,3)

TypeError: test2() missing 1 required positional argument: 'm'

In [56]:
test2(2,3,0)

5

In [58]:
# This function is returning 3 values
def test3(n,m):
    return n*10,m*40,m+n

In [61]:
# As we are having only one variable to store return values from this function and it returns more than one value 
# all the retrun values are stored as tuple in the variable
res=test3(3,4)
res

(30, 160, 7)

In [62]:
type(res)

tuple

In [63]:
res,res1,res2=test3(10,30)

In [64]:
print(res)
print(res1)
print(res2)

100
1200
40

In [65]:
# As the number of return values are not matching it will throw an error
res,res1=test3(10,30)

ValueError: too many values to unpack (expected 2)

In [5]:
res,res1,_=test3(10,30)

In [6]:
print(res)
print(res1)

100
1200

In [7]:
res,_,res1=test3(10,30)

In [8]:
print(res1)

40

In [9]:
res,_,_=test3(10,30)

In [10]:
print(_)

40

In [ ]:
def test4(n):
    return n*2

In [ ]:
test4([10,20,30,40])

In [ ]:
test4({10,20,30,40})

In [ ]:
def test4(n):
    return n,n*2

In [ ]:
test4([1,2,3,4])

In [66]:
# Assigning default values to the parameters if we dont recevie the value as input
def test5(n,m=90):
    return n+m

In [67]:
test5(10)

100

In [68]:
test5(10,20)

30

In [11]:
def boolx(x=True,y=False):
    return x+y

In [12]:
boolx()

1

In [13]:
boolx(True,True)

2

In [14]:
def travel(bike=True,car=False):
    plan_travel= bike or car
    return bike,car,plan_travel

In [15]:
travel()

(True, False, True)

In [16]:
travel(car=True)

(True, True, True)

In [69]:
# create the function with n number of arguments
def test11(*args):
    return args

In [70]:
test11("ddkjdhkdjk","dsfakdsahfkadsf",[1,2,3,4])

('ddkjdhkdjk', 'dsfakdsahfkadsf', [1, 2, 3, 4])

In [71]:
# create the function with n number of key value pair arguments
def test(**kwargs):
    print(kwargs.items())

In [72]:
test(x='ABC',y=1,z=2.0,b=True)

dict_items([('x', 'ABC'), ('y', 1), ('z', 2.0), ('b', True)])

In [21]:
def test(name,mailid):
    return name,mailid

In [22]:
test('manidhar','mani@gmail.com')

('manidhar', 'mani@gmail.com')

In [23]:
a=10
b=20

def test1(x,y):
    return x+y

In [24]:
test1(a,b)

30

In [79]:
a=10
b=20

In [80]:
# Lamda functions
l=lambda x,y: (x+y)

In [81]:
l(a,b)

30

In [82]:
# DocString

In [83]:
def test4():
    """This description about the method"""
    ''' This will no'''
    print('Testing ....')

In [84]:
test4()

Testing ....

In [85]:
help(test4)

Help on function test4 in module __main__:

test4()
    This description about the method

In [ ]:
a=10

In [ ]:
for i in a:
    print(i)

In [ ]:
for i in "Mani":
    print(i)

In [ ]:
m="Mani"
next(m)

# Iterator

In [88]:
m='Manidhar'
n=iter(m)

In [90]:
type(n)

str_iterator

In [89]:
next(n)

'M'

In [ ]:
def test4(n):
    l=[]
    for i in range(n):
       l.append(i**3)
    return l

In [ ]:
test4(6)

In [ ]:
test4(600000000)

# Generators

In [30]:

def test5(n):
    for i in range(n):
       yield(i**3)

In [31]:
test5(600000000)

In [32]:
test5(30)

In [33]:
for i in test5(30):
    print(i)

0
1
8
27
64
125
216
343
512
729
1000
1331
1728
2197
2744
3375
4096
4913
5832
6859
8000
9261
10648
12167
13824
15625
17576
19683
21952
24389

In [ ]:
for i in test5(600000000):
    print(i)

In [ ]:
def fibonaci(n):
    a=1
    b=1
    output=[]
    for i in range(n):
        output.append(a)
        a,b=b,a+b
    return output

# map

In [1]:
def square_num(n):
    return n*n

# The above function will fail if we pass list of values to this.
# if we need to pass list to this function and make it work we need to make use of map function

In [3]:
square_num(10)

100

In [4]:
square_num([1,2,3,4])

TypeError: can't multiply sequence by non-int of type 'list'

In [5]:
res=list(map(square_num,[1,2,3,4]))
print(res)

[1, 4, 9, 16]

# Reduce

In [6]:
from functools import reduce

In [9]:
# Ex: Finding the maximum in the from the list
max_find= lambda a,b: a if (a>b) else b
lst=[47,11,13,24,33,78,15]

In [10]:
reduce(max_find,lst)

78

In [12]:
# find sums of all numbers in a list
a=lambda x,y:x+y
print(reduce(a,lst))
print(sum(lst))

221
221

# Filter

In [13]:
def even_check(n):
    if n%2==0:
        return True

In [15]:
lst=[1,2,3,4,5,6]
list(filter(even_check,lst))

[2, 4, 6]