In [1]:
class car:

SyntaxError: unexpected EOF while parsing (<ipython-input-1-02ef5be3782f>, line 2)

In [2]:
class car:
    pass

In [3]:
audiq7=car()

In [5]:
audiq7

In [4]:
type(audiq7)

__main__.car

In [6]:
audiq7.millage=10
audiq7.year=2020
audiq7.make=345
audiq7.model='abcd'

In [7]:
audiq7.millage

10

In [8]:
millage

NameError: name 'millage' is not defined

In [9]:
audiq7.millage=12

In [10]:
audiq7.millage

12

In [11]:
audiq7

In [12]:
nano=car()

In [17]:
nano.millage=20
nano.year=2021
nano.make=345
nano.model='abcd'
nano.engineno='3324423432423'

In [18]:
nano.millage

20

In [19]:
audiq7.year,nano.year

(2020, 2021)

In [20]:
class car:
    def __init__(self,milage,year,make,model):
        self.milage=milage
        self.year=year
        self.make=make
        self.model=model

In [21]:
nano1=car(20,2019,32423,'kfashkfsha')
audiq71=car(10,2018,3433,'sjdfsdljfls')

In [22]:
nano1

In [25]:
# by default first variable is treated as self
class car:
    def __init__(milage,year,make,model):
        self.milage=milage
        self.year=year
        self.make=make
        self.model=model

In [26]:
jaquar=car(15,2001,33423,'safsadfj')

TypeError: __init__() takes 4 positional arguments but 5 were given

In [27]:
# we can use any name instead of self
class car:
    def __init__(car,milage,year,make,model):
        car.milage=milage
        car.year=year
        car.make=make
        car.model=model

In [28]:
maruthi=car(24,2019,230,"kksks")

In [29]:
maruthi.milage

24

In [32]:
class car:
    def __init__(car,m,y,ma,mo):
        car.milage=m
        car.year=y
        car.make=ma
        car.model=mo

In [33]:
maruthi1=car(24,2019,230,"kksks")

In [35]:
maruthi1.m

AttributeError: 'car' object has no attribute 'm'

In [34]:
maruthi1.milage

24

In [36]:
class car:
    def __init__(car,m,y,ma,mo):
        car.milage=m
        car.year=y
        car.make=ma
        car.model=mo
        
    def age(self,current_year):
        return current_year-car.year

In [38]:
nano2=car(20,2019,32423,'kfashkfsha')

In [39]:
nano2.age(2021)

AttributeError: type object 'car' has no attribute 'year'

In [55]:
class car:
    def __init__(self,m,y,ma,mo):
        self.milage=m
        self.year=y
        self.make=ma
        self.model=mo
        
    def age(self,current_year):
        return current_year-self.year
    
    def milage1(self):
        print('Milage is ',self.milage)
    def __str__(self):
        return 'This is my car class i have created'

In [57]:
nano3=car(20,2000,32423,'kfashkfsha')

In [58]:
nano3.age(2021)

21

In [59]:
nano3.milage1()

Milage is  20

In [60]:
nano3

In [61]:
print(nano3)

This is my car class i have created

In [63]:
class Student:
    def __init__(self,name,rollno,joining_date,current_topic):
        self.name=name
        self.rollno=rollno
        self.joining_date=joining_date
        self.current_topic=current_topic
    
    def crttopic(self):
        print('Current topic discussed in the calss is : ',self.current_topic)
    
    def rollno_str(self):
        if type(self.rollno) == str:
            print('Do nothing')
        else:
            return str(self.rollno)
    
    def duration(self,current_date):
        print('Duration of student in my class is : ',current_date-self.joining_date)
        
    def __str__(self):
        print('This is the student class')