In [3]:
t=()
type(t)

tuple

In [4]:
l=[]
type(l)

list

In [6]:
t1=(234,34,"Mani",3.45,True)
l1=[234,34,"Mani",3.45,True]

In [7]:
t1[0]

234

In [8]:
t1[0:4]

(234, 34, 'Mani', 3.45)

In [9]:
t1[::-1]

(True, 3.45, 'Mani', 34, 234)

In [10]:
t1[0]="ABC"

TypeError: 'tuple' object does not support item assignment

In [11]:
t2=(33,65,45)

In [12]:
t1+t2

(234, 34, 'Mani', 3.45, True, 33, 65, 45)

In [13]:
34 in t1

True

In [14]:
"ABC" in t1

False

In [15]:
t1*4

(234,
 34,
 'Mani',
 3.45,
 True,
 234,
 34,
 'Mani',
 3.45,
 True,
 234,
 34,
 'Mani',
 3.45,
 True,
 234,
 34,
 'Mani',
 3.45,
 True)

In [18]:
print(t2)
max(t2)

(33, 65, 45)

65

In [20]:
t1.count(33)

0

In [21]:
t1=(1,2,3,4,5,6)

In [22]:
t2

(33, 65, 45)

In [23]:
t1

(1, 2, 3, 4, 5, 6)

In [24]:
t1.index(6)

5

In [25]:
t1.index(33)

ValueError: tuple.index(x): x not in tuple

In [26]:
t1.count(6)

1

In [27]:
min(t1)

1

In [32]:
t6=t1+tuple(90)

TypeError: 'int' object is not iterable

In [33]:
# check memory location of the variable
id(t6)

2311756980736

In [34]:
t6=t6+(33,)
id(t6)

2311724161840

In [36]:
# nested tuple
t=((3,4,5,6,7),("abcd",45,45),("454",54),45,454,67,[4,5,6,7,7])

In [37]:
# fetch 5 from list
t[-1][1]

5

In [40]:
len(t)
print(t[6][1])
print(t[6][1:4])

5
[5, 6, 7]

In [41]:
for i in t:
    print(i)

(3, 4, 5, 6, 7)
('abcd', 45, 45)
('454', 54)
45
454
67
[4, 5, 6, 7, 7]

In [42]:
# iterate through the tuple and if it is a tuple inside fetch the first element
# Using list comprehension
[i[0] for i in t if type(i) == tuple]

[3, 'abcd', '454']

In [43]:
# iterate through the tuple and if it is a tuple inside fetch the first element

for i in t:
    if type(i)==tuple:
        print(i[0])

3
abcd
454

In [55]:
t1=(234,34,'Mani',3.45,34,34,True)
t2=(234,54,565)

In [47]:
if len(t1)== len(t2):
    print("It's same")
else:
    print("Not same")

Not same

In [48]:
t=(234,34,'Mani',3.45,34,34,True,'kumar')

In [50]:
i=input("User input")
if i in t:
    print("User input found in tuple")
else:
    print("User input not found in tuple")

User inputKumar
User input not found in tuple

In [51]:
del(34)

SyntaxError: cannot delete literal (<ipython-input-51-5193efdf4528>, line 1)

In [52]:
del(t[1])

TypeError: 'tuple' object doesn't support item deletion

In [53]:
del(t1)

In [54]:
t1

NameError: name 't1' is not defined

In [56]:
x=set()
type(x)

set

In [64]:
l=[34,45,45,45,67,34,56,78,"mani","mani","kumar","Mani"]

In [69]:
s=set(l)

In [70]:
for i in s:
    print(i)

34
67
mani
kumar
45
78
56
Mani

In [71]:
34 in s

True

In [73]:
# indexing operation not allowed in set
s[0]

TypeError: 'set' object is not subscriptable

In [76]:
# set does not order the element.dont get confused with below output
set({10,100,500,5,7, 8})

{5, 7, 8, 10, 100, 500}

In [77]:
s.add(700)

In [78]:
s

{34, 45, 56, 67, 700, 78, 'Mani', 'kumar', 'mani'}

In [81]:
# cannot add list inside set
s.add([10,29,500])

TypeError: unhashable type: 'list'