In [1]:
import os

In [2]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.getOrCreate()
print(spark)

Py4JError: org.apache.spark.api.python.PythonUtils.getPythonAuthSocketTimeout does not exist in the JVM

In [3]:
data=[('John','Smith',47),
     ('James','Smith',27),
     ('Keith','Maren',38)]
header1=['fname','lname','age']

In [4]:
df1=spark.createDataFrame(data,header1)

In [5]:
df1.show(n=2)

+-----+-----+---+
|fname|lname|age|
+-----+-----+---+
| John|Smith| 47|
|James|Smith| 27|
+-----+-----+---+
only showing top 2 rows

In [9]:
df1.first()

Row(fname='John', lname='Smith', age=47)

In [8]:
df1.count()

3

In [7]:
df1.coalesce(1).write.csv('c:/manidhar/MachineLearningLab/SparkBasics/sampleData2.csv')

In [10]:
df1.printSchema()

root
 |-- fname: string (nullable = true)
 |-- lname: string (nullable = true)
 |-- age: long (nullable = true)

In [11]:
df1.show()

+-----+-----+---+
|fname|lname|age|
+-----+-----+---+
| John|Smith| 47|
|James|Smith| 27|
|Keith|Maren| 38|
+-----+-----+---+

In [12]:
df2=spark.read.csv('C:/Manidhar/MachineLearningLab/datasets/titanic/train.csv',header=True)

In [13]:
df2.count()

891

In [14]:
df2.show()# if nothing is sepcified inside show by default if will show first 20 rows

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|  22|    1|    0|       A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|  38|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|  26|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|  35|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|  35|    0|    0|          373450|   8.05| null|       S|
|          6|       0|     3|    Moran, Mr. James|  male|null|    0|    0|          330877| 8.4583| null|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|  54|    0|    0|           17463|51.8625|  E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male|   2|    3|    1|          349909| 21.075| null|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|  27|    0|    2|          347742|11.1333| null|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|  14|    1|    0|          237736|30.0708| null|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female|   4|    1|    1|         PP 9549|   16.7|   G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|  58|    0|    0|          113783|  26.55| C103|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male|  20|    0|    0|       A/5. 2151|   8.05| null|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|  39|    1|    5|          347082| 31.275| null|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|  14|    0|    0|          350406| 7.8542| null|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|  55|    0|    0|          248706|     16| null|       S|
|         17|       0|     3|Rice, Master. Eugene|  male|   2|    4|    1|          382652| 29.125| null|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male|null|    0|    0|          244373|     13| null|       S|
|         19|       0|     3|Vander Planke, Mr...|female|  31|    1|    0|          345763|     18| null|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female|null|    0|    0|            2649|  7.225| null|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

In [15]:
df2.show(n=30)

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----------+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|      Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----------+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|  22|    1|    0|       A/5 21171|   7.25|       null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|  38|    1|    0|        PC 17599|71.2833|        C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|  26|    0|    0|STON/O2. 3101282|  7.925|       null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|  35|    1|    0|          113803|   53.1|       C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|  35|    0|    0|          373450|   8.05|       null|       S|
|          6|       0|     3|    Moran, Mr. James|  male|null|    0|    0|          330877| 8.4583|       null|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|  54|    0|    0|           17463|51.8625|        E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male|   2|    3|    1|          349909| 21.075|       null|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|  27|    0|    2|          347742|11.1333|       null|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|  14|    1|    0|          237736|30.0708|       null|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female|   4|    1|    1|         PP 9549|   16.7|         G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|  58|    0|    0|          113783|  26.55|       C103|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male|  20|    0|    0|       A/5. 2151|   8.05|       null|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|  39|    1|    5|          347082| 31.275|       null|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|  14|    0|    0|          350406| 7.8542|       null|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|  55|    0|    0|          248706|     16|       null|       S|
|         17|       0|     3|Rice, Master. Eugene|  male|   2|    4|    1|          382652| 29.125|       null|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male|null|    0|    0|          244373|     13|       null|       S|
|         19|       0|     3|Vander Planke, Mr...|female|  31|    1|    0|          345763|     18|       null|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female|null|    0|    0|            2649|  7.225|       null|       C|
|         21|       0|     2|Fynney, Mr. Joseph J|  male|  35|    0|    0|          239865|     26|       null|       S|
|         22|       1|     2|Beesley, Mr. Lawr...|  male|  34|    0|    0|          248698|     13|        D56|       S|
|         23|       1|     3|"McGowan, Miss. A...|female|  15|    0|    0|          330923| 8.0292|       null|       Q|
|         24|       1|     1|Sloper, Mr. Willi...|  male|  28|    0|    0|          113788|   35.5|         A6|       S|
|         25|       0|     3|Palsson, Miss. To...|female|   8|    3|    1|          349909| 21.075|       null|       S|
|         26|       1|     3|Asplund, Mrs. Car...|female|  38|    1|    5|          347077|31.3875|       null|       S|
|         27|       0|     3|Emir, Mr. Farred ...|  male|null|    0|    0|            2631|  7.225|       null|       C|
|         28|       0|     1|Fortune, Mr. Char...|  male|  19|    3|    2|           19950|    263|C23 C25 C27|       S|
|         29|       1|     3|"O'Dwyer, Miss. E...|female|null|    0|    0|          330959| 7.8792|       null|       Q|
|         30|       0|     3| Todoroff, Mr. Lalio|  male|null|    0|    0|          349216| 7.8958|       null|       S|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----------+--------+
only showing top 30 rows

In [16]:
df2.show(40)

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+--------+-----------+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|    Fare|      Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+--------+-----------+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|  22|    1|    0|       A/5 21171|    7.25|       null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|  38|    1|    0|        PC 17599| 71.2833|        C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|  26|    0|    0|STON/O2. 3101282|   7.925|       null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|  35|    1|    0|          113803|    53.1|       C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|  35|    0|    0|          373450|    8.05|       null|       S|
|          6|       0|     3|    Moran, Mr. James|  male|null|    0|    0|          330877|  8.4583|       null|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|  54|    0|    0|           17463| 51.8625|        E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male|   2|    3|    1|          349909|  21.075|       null|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|  27|    0|    2|          347742| 11.1333|       null|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|  14|    1|    0|          237736| 30.0708|       null|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female|   4|    1|    1|         PP 9549|    16.7|         G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|  58|    0|    0|          113783|   26.55|       C103|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male|  20|    0|    0|       A/5. 2151|    8.05|       null|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|  39|    1|    5|          347082|  31.275|       null|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|  14|    0|    0|          350406|  7.8542|       null|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|  55|    0|    0|          248706|      16|       null|       S|
|         17|       0|     3|Rice, Master. Eugene|  male|   2|    4|    1|          382652|  29.125|       null|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male|null|    0|    0|          244373|      13|       null|       S|
|         19|       0|     3|Vander Planke, Mr...|female|  31|    1|    0|          345763|      18|       null|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female|null|    0|    0|            2649|   7.225|       null|       C|
|         21|       0|     2|Fynney, Mr. Joseph J|  male|  35|    0|    0|          239865|      26|       null|       S|
|         22|       1|     2|Beesley, Mr. Lawr...|  male|  34|    0|    0|          248698|      13|        D56|       S|
|         23|       1|     3|"McGowan, Miss. A...|female|  15|    0|    0|          330923|  8.0292|       null|       Q|
|         24|       1|     1|Sloper, Mr. Willi...|  male|  28|    0|    0|          113788|    35.5|         A6|       S|
|         25|       0|     3|Palsson, Miss. To...|female|   8|    3|    1|          349909|  21.075|       null|       S|
|         26|       1|     3|Asplund, Mrs. Car...|female|  38|    1|    5|          347077| 31.3875|       null|       S|
|         27|       0|     3|Emir, Mr. Farred ...|  male|null|    0|    0|            2631|   7.225|       null|       C|
|         28|       0|     1|Fortune, Mr. Char...|  male|  19|    3|    2|           19950|     263|C23 C25 C27|       S|
|         29|       1|     3|"O'Dwyer, Miss. E...|female|null|    0|    0|          330959|  7.8792|       null|       Q|
|         30|       0|     3| Todoroff, Mr. Lalio|  male|null|    0|    0|          349216|  7.8958|       null|       S|
|         31|       0|     1|Uruchurtu, Don. M...|  male|  40|    0|    0|        PC 17601| 27.7208|       null|       C|
|         32|       1|     1|Spencer, Mrs. Wil...|female|null|    1|    0|        PC 17569|146.5208|        B78|       C|
|         33|       1|     3|Glynn, Miss. Mary...|female|null|    0|    0|          335677|    7.75|       null|       Q|
|         34|       0|     2|Wheadon, Mr. Edwa...|  male|  66|    0|    0|      C.A. 24579|    10.5|       null|       S|
|         35|       0|     1|Meyer, Mr. Edgar ...|  male|  28|    1|    0|        PC 17604| 82.1708|       null|       C|
|         36|       0|     1|Holverson, Mr. Al...|  male|  42|    1|    0|          113789|      52|       null|       S|
|         37|       1|     3|    Mamee, Mr. Hanna|  male|null|    0|    0|            2677|  7.2292|       null|       C|
|         38|       0|     3|Cann, Mr. Ernest ...|  male|  21|    0|    0|      A./5. 2152|    8.05|       null|       S|
|         39|       0|     3|Vander Planke, Mi...|female|  18|    2|    0|          345764|      18|       null|       S|
|         40|       1|     3|Nicola-Yarred, Mi...|female|  14|    1|    0|            2651| 11.2417|       null|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+--------+-----------+--------+
only showing top 40 rows

In [17]:
df2.describe()

DataFrame[summary: string, PassengerId: string, Survived: string, Pclass: string, Name: string, Sex: string, Age: string, SibSp: string, Parch: string, Ticket: string, Fare: string, Cabin: string, Embarked: string]

In [18]:
df3=df2.select('Pclass','SibSp','Survived','Fare')
df3.show()

+------+-----+--------+-------+
|Pclass|SibSp|Survived|   Fare|
+------+-----+--------+-------+
|     3|    1|       0|   7.25|
|     1|    1|       1|71.2833|
|     3|    0|       1|  7.925|
|     1|    1|       1|   53.1|
|     3|    0|       0|   8.05|
|     3|    0|       0| 8.4583|
|     1|    0|       0|51.8625|
|     3|    3|       0| 21.075|
|     3|    0|       1|11.1333|
|     2|    1|       1|30.0708|
|     3|    1|       1|   16.7|
|     1|    0|       1|  26.55|
|     3|    0|       0|   8.05|
|     3|    1|       0| 31.275|
|     3|    0|       0| 7.8542|
|     2|    0|       1|     16|
|     3|    4|       0| 29.125|
|     2|    0|       1|     13|
|     3|    1|       0|     18|
|     3|    0|       1|  7.225|
+------+-----+--------+-------+
only showing top 20 rows

In [19]:
df4=df2.filter(df2.Age>20).select('Pclass','SibSp','Survived')
df4.show()
df4.count()

+------+-----+--------+
|Pclass|SibSp|Survived|
+------+-----+--------+
|     3|    1|       0|
|     1|    1|       1|
|     3|    0|       1|
|     1|    1|       1|
|     3|    0|       0|
|     1|    0|       0|
|     3|    0|       1|
|     1|    0|       1|
|     3|    1|       0|
|     2|    0|       1|
|     3|    1|       0|
|     2|    0|       0|
|     2|    0|       1|
|     1|    0|       1|
|     3|    1|       1|
|     1|    0|       0|
|     2|    0|       0|
|     1|    1|       0|
|     1|    1|       0|
|     3|    0|       0|
+------+-----+--------+
only showing top 20 rows

534

In [20]:
df3.printSchema()

root
 |-- Pclass: string (nullable = true)
 |-- SibSp: string (nullable = true)
 |-- Survived: string (nullable = true)
 |-- Fare: string (nullable = true)

In [21]:
df3=df2.select(df3.Pclass.cast('double'),df3.SibSp.cast('double'),df3.Survived.cast('double'),df3.Fare.cast('double'))
df3.printSchema()

root
 |-- Pclass: double (nullable = true)
 |-- SibSp: double (nullable = true)
 |-- Survived: double (nullable = true)
 |-- Fare: double (nullable = true)