In [1]:
from pyspark.sql import SparkSession
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.classification import DecisionTreeClassifier
spark=SparkSession.builder.getOrCreate()

In [2]:
df2=spark.read.csv('C:/Manidhar/MachineLearningLab/datasets/titanic/train.csv',header=True)
df3=df2.select('Pclass','SibSp','Survived','Fare')
df3=df2.select(df3.Pclass.cast('double'),df3.SibSp.cast('double'),df3.Survived.cast('double'),df3.Fare.cast('double'))

In [3]:
df3=VectorAssembler(inputCols=['Pclass','SibSp','Fare'], outputCol="Features").transform(df3)

In [4]:
df3.printSchema()

root
 |-- Pclass: double (nullable = true)
 |-- SibSp: double (nullable = true)
 |-- Survived: double (nullable = true)
 |-- Fare: double (nullable = true)
 |-- Features: vector (nullable = true)

In [5]:
df3.show()

+------+-----+--------+-------+-----------------+
|Pclass|SibSp|Survived|   Fare|         Features|
+------+-----+--------+-------+-----------------+
|   3.0|  1.0|     0.0|   7.25|   [3.0,1.0,7.25]|
|   1.0|  1.0|     1.0|71.2833|[1.0,1.0,71.2833]|
|   3.0|  0.0|     1.0|  7.925|  [3.0,0.0,7.925]|
|   1.0|  1.0|     1.0|   53.1|   [1.0,1.0,53.1]|
|   3.0|  0.0|     0.0|   8.05|   [3.0,0.0,8.05]|
|   3.0|  0.0|     0.0| 8.4583| [3.0,0.0,8.4583]|
|   1.0|  0.0|     0.0|51.8625|[1.0,0.0,51.8625]|
|   3.0|  3.0|     0.0| 21.075| [3.0,3.0,21.075]|
|   3.0|  0.0|     1.0|11.1333|[3.0,0.0,11.1333]|
|   2.0|  1.0|     1.0|30.0708|[2.0,1.0,30.0708]|
|   3.0|  1.0|     1.0|   16.7|   [3.0,1.0,16.7]|
|   1.0|  0.0|     1.0|  26.55|  [1.0,0.0,26.55]|
|   3.0|  0.0|     0.0|   8.05|   [3.0,0.0,8.05]|
|   3.0|  1.0|     0.0| 31.275| [3.0,1.0,31.275]|
|   3.0|  0.0|     0.0| 7.8542| [3.0,0.0,7.8542]|
|   2.0|  0.0|     1.0|   16.0|   [2.0,0.0,16.0]|
|   3.0|  4.0|     0.0| 29.125| [3.0,4.0,29.125]|
|   2.0|  0.0|     1.0|   13.0|   [2.0,0.0,13.0]|
|   3.0|  1.0|     0.0|   18.0|   [3.0,1.0,18.0]|
|   3.0|  0.0|     1.0|  7.225|  [3.0,0.0,7.225]|
+------+-----+--------+-------+-----------------+
only showing top 20 rows

In [6]:
# dt1 is called as estimator or classifier or regresser
dt1=DecisionTreeClassifier(featuresCol='Features',labelCol='Survived',maxDepth=10,impurity='entropy')

In [7]:
model1=dt1.fit(df3)

In [8]:
model1.depth

10

In [9]:
print(model1.toDebugString)

DecisionTreeClassificationModel (uid=DecisionTreeClassifier_40e0b534f8c77dde1441) of depth 10 with 165 nodes
  If (feature 0 <= 2.5)
   If (feature 2 <= 15.525)
    If (feature 2 <= 7.0104)
     Predict: 0.0
    Else (feature 2 > 7.0104)
     If (feature 1 <= 1.5)
      If (feature 1 <= 0.5)
       If (feature 2 <= 14.45625)
        If (feature 2 <= 13.20835)
         If (feature 2 <= 10.50835)
          Predict: 0.0
         Else (feature 2 > 10.50835)
          If (feature 2 <= 12.9375)
           Predict: 0.0
          Else (feature 2 > 12.9375)
           Predict: 0.0
        Else (feature 2 > 13.20835)
         Predict: 0.0
       Else (feature 2 > 14.45625)
        Predict: 0.0
      Else (feature 1 > 0.5)
       If (feature 2 <= 12.9375)
        Predict: 0.0
       Else (feature 2 > 12.9375)
        Predict: 1.0
     Else (feature 1 > 1.5)
      Predict: 0.0
   Else (feature 2 > 15.525)
    If (feature 2 <= 55.22085)
     If (feature 1 <= 1.5)
      If (feature 2 <= 18.375)
       Predict: 1.0
      Else (feature 2 > 18.375)
       If (feature 1 <= 0.5)
        If (feature 2 <= 24.808349999999997)
         Predict: 1.0
        Else (feature 2 > 24.808349999999997)
         If (feature 2 <= 31.1375)
          If (feature 2 <= 26.125)
           If (feature 0 <= 1.5)
            Predict: 0.0
           Else (feature 0 > 1.5)
            Predict: 0.0
          Else (feature 2 > 26.125)
           If (feature 2 <= 26.46875)
            Predict: 1.0
           Else (feature 2 > 26.46875)
            Predict: 1.0
         Else (feature 2 > 31.1375)
          If (feature 0 <= 1.5)
           If (feature 2 <= 47.0)
            Predict: 0.0
           Else (feature 2 > 47.0)
            Predict: 0.0
          Else (feature 0 > 1.5)
           If (feature 2 <= 36.125)
            Predict: 1.0
           Else (feature 2 > 36.125)
            Predict: 1.0
       Else (feature 1 > 0.5)
        If (feature 2 <= 21.0375)
         Predict: 0.0
        Else (feature 2 > 21.0375)
         If (feature 0 <= 1.5)
          If (feature 2 <= 47.0)
           Predict: 1.0
          Else (feature 2 > 47.0)
           Predict: 1.0
         Else (feature 0 > 1.5)
          If (feature 2 <= 24.808349999999997)
           Predict: 1.0
          Else (feature 2 > 24.808349999999997)
           If (feature 2 <= 36.125)
            Predict: 1.0
           Else (feature 2 > 36.125)
            Predict: 0.0
     Else (feature 1 > 1.5)
      Predict: 1.0
    Else (feature 2 > 55.22085)
     If (feature 0 <= 1.5)
      If (feature 2 <= 149.0354)
       If (feature 1 <= 1.5)
        If (feature 2 <= 79.025)
         If (feature 2 <= 69.425)
          If (feature 1 <= 0.5)
           Predict: 1.0
          Else (feature 1 > 0.5)
           Predict: 1.0
         Else (feature 2 > 69.425)
          If (feature 1 <= 0.5)
           Predict: 1.0
          Else (feature 1 > 0.5)
           Predict: 1.0
        Else (feature 2 > 79.025)
         If (feature 1 <= 0.5)
          If (feature 2 <= 92.28960000000001)
           Predict: 1.0
          Else (feature 2 > 92.28960000000001)
           Predict: 1.0
         Else (feature 1 > 0.5)
          Predict: 1.0
       Else (feature 1 > 1.5)
        If (feature 2 <= 92.28960000000001)
         Predict: 0.0
        Else (feature 2 > 92.28960000000001)
         Predict: 1.0
      Else (feature 2 > 149.0354)
       If (feature 1 <= 1.5)
        If (feature 1 <= 0.5)
         Predict: 1.0
        Else (feature 1 > 0.5)
         Predict: 0.0
       Else (feature 1 > 1.5)
        If (feature 1 <= 2.5)
         Predict: 1.0
        Else (feature 1 > 2.5)
         Predict: 1.0
     Else (feature 0 > 1.5)
      If (feature 2 <= 69.425)
       Predict: 1.0
      Else (feature 2 > 69.425)
       Predict: 0.0
  Else (feature 0 > 2.5)
   If (feature 2 <= 10.50835)
    If (feature 2 <= 7.89165)
     If (feature 2 <= 7.40415)
      If (feature 1 <= 0.5)
       If (feature 2 <= 7.2271)
        If (feature 2 <= 7.0104)
         Predict: 0.0
        Else (feature 2 > 7.0104)
         Predict: 0.0
       Else (feature 2 > 7.2271)
        Predict: 0.0
      Else (feature 1 > 0.5)
       Predict: 0.0
     Else (feature 2 > 7.40415)
      If (feature 2 <= 7.8416999999999994)
       If (feature 2 <= 7.7625)
        If (feature 1 <= 0.5)
         If (feature 2 <= 7.74585)
          Predict: 0.0
         Else (feature 2 > 7.74585)
          Predict: 0.0
        Else (feature 1 > 0.5)
         Predict: 0.0
       Else (feature 2 > 7.7625)
        If (feature 1 <= 0.5)
         Predict: 0.0
        Else (feature 1 > 0.5)
         Predict: 0.0
      Else (feature 2 > 7.8416999999999994)
       If (feature 1 <= 0.5)
        Predict: 0.0
       Else (feature 1 > 0.5)
        Predict: 0.0
    Else (feature 2 > 7.89165)
     If (feature 2 <= 7.9104)
      Predict: 0.0
     Else (feature 2 > 7.9104)
      If (feature 2 <= 8.0396)
       If (feature 1 <= 2.5)
        If (feature 1 <= 1.5)
         Predict: 0.0
        Else (feature 1 > 1.5)
         Predict: 0.0
       Else (feature 1 > 2.5)
        Predict: 1.0
      Else (feature 2 > 8.0396)
       If (feature 1 <= 0.5)
        If (feature 2 <= 8.672899999999998)
         If (feature 2 <= 8.08125)
          Predict: 0.0
         Else (feature 2 > 8.08125)
          Predict: 0.0
        Else (feature 2 > 8.672899999999998)
         If (feature 2 <= 9.8396)
          Predict: 0.0
         Else (feature 2 > 9.8396)
          Predict: 0.0
       Else (feature 1 > 0.5)
        Predict: 0.0
   Else (feature 2 > 10.50835)
    If (feature 2 <= 12.9375)
     If (feature 1 <= 0.5)
      Predict: 1.0
     Else (feature 1 > 0.5)
      Predict: 1.0
    Else (feature 2 > 12.9375)
     If (feature 1 <= 2.5)
      If (feature 2 <= 47.0)
       If (feature 2 <= 24.808349999999997)
        If (feature 2 <= 15.525)
         If (feature 1 <= 0.5)
          If (feature 2 <= 14.45625)
           Predict: 0.0
          Else (feature 2 > 14.45625)
           Predict: 0.0
         Else (feature 1 > 0.5)
          If (feature 2 <= 14.45625)
           If (feature 1 <= 1.5)
            Predict: 0.0
           Else (feature 1 > 1.5)
            Predict: 0.0
          Else (feature 2 > 14.45625)
           Predict: 0.0
        Else (feature 2 > 15.525)
         If (feature 1 <= 1.5)
          If (feature 2 <= 21.0375)
           If (feature 1 <= 0.5)
            Predict: 0.0
           Else (feature 1 > 0.5)
            Predict: 0.0
          Else (feature 2 > 21.0375)
           Predict: 0.0
         Else (feature 1 > 1.5)
          If (feature 2 <= 18.375)
           Predict: 0.0
          Else (feature 2 > 18.375)
           If (feature 2 <= 21.0375)
            Predict: 1.0
           Else (feature 2 > 21.0375)
            Predict: 0.0
       Else (feature 2 > 24.808349999999997)
        If (feature 2 <= 31.1375)
         Predict: 0.0
        Else (feature 2 > 31.1375)
         If (feature 1 <= 1.5)
          If (feature 2 <= 36.125)
           Predict: 0.0
          Else (feature 2 > 36.125)
           Predict: 0.0
         Else (feature 1 > 1.5)
          Predict: 0.0
      Else (feature 2 > 47.0)
       Predict: 1.0
     Else (feature 1 > 2.5)
      If (feature 2 <= 18.375)
       Predict: 1.0
      Else (feature 2 > 18.375)
       If (feature 2 <= 36.125)
        If (feature 2 <= 31.1375)
         Predict: 0.0
        Else (feature 2 > 31.1375)
         Predict: 0.0
       Else (feature 2 > 36.125)
        Predict: 0.0

In [10]:
model1.featureImportances

SparseVector(3, {0: 0.3178, 1: 0.1241, 2: 0.558})

In [11]:
model1.numClasses

2

In [12]:
model1.numFeatures

3

In [19]:
df2.show(truncate=False,vertical=True)

-RECORD 0--------------------------------------------------------------
 PassengerId | 1
 Survived    | 0
 Pclass      | 3
 Name        | Braund, Mr. Owen Harris
 Sex         | male
 Age         | 22
 SibSp       | 1
 Parch       | 0
 Ticket      | A/5 21171
 Fare        | 7.25
 Cabin       | null
 Embarked    | S
-RECORD 1--------------------------------------------------------------
 PassengerId | 2
 Survived    | 1
 Pclass      | 1
 Name        | Cumings, Mrs. John Bradley (Florence Briggs Thayer)
 Sex         | female
 Age         | 38
 SibSp       | 1
 Parch       | 0
 Ticket      | PC 17599
 Fare        | 71.2833
 Cabin       | C85
 Embarked    | C
-RECORD 2--------------------------------------------------------------
 PassengerId | 3
 Survived    | 1
 Pclass      | 3
 Name        | Heikkinen, Miss. Laina
 Sex         | female
 Age         | 26
 SibSp       | 0
 Parch       | 0
 Ticket      | STON/O2. 3101282
 Fare        | 7.925
 Cabin       | null
 Embarked    | S
-RECORD 3--------------------------------------------------------------
 PassengerId | 4
 Survived    | 1
 Pclass      | 1
 Name        | Futrelle, Mrs. Jacques Heath (Lily May Peel)
 Sex         | female
 Age         | 35
 SibSp       | 1
 Parch       | 0
 Ticket      | 113803
 Fare        | 53.1
 Cabin       | C123
 Embarked    | S
-RECORD 4--------------------------------------------------------------
 PassengerId | 5
 Survived    | 0
 Pclass      | 3
 Name        | Allen, Mr. William Henry
 Sex         | male
 Age         | 35
 SibSp       | 0
 Parch       | 0
 Ticket      | 373450
 Fare        | 8.05
 Cabin       | null
 Embarked    | S
-RECORD 5--------------------------------------------------------------
 PassengerId | 6
 Survived    | 0
 Pclass      | 3
 Name        | Moran, Mr. James
 Sex         | male
 Age         | null
 SibSp       | 0
 Parch       | 0
 Ticket      | 330877
 Fare        | 8.4583
 Cabin       | null
 Embarked    | Q
-RECORD 6--------------------------------------------------------------
 PassengerId | 7
 Survived    | 0
 Pclass      | 1
 Name        | McCarthy, Mr. Timothy J
 Sex         | male
 Age         | 54
 SibSp       | 0
 Parch       | 0
 Ticket      | 17463
 Fare        | 51.8625
 Cabin       | E46
 Embarked    | S
-RECORD 7--------------------------------------------------------------
 PassengerId | 8
 Survived    | 0
 Pclass      | 3
 Name        | Palsson, Master. Gosta Leonard
 Sex         | male
 Age         | 2
 SibSp       | 3
 Parch       | 1
 Ticket      | 349909
 Fare        | 21.075
 Cabin       | null
 Embarked    | S
-RECORD 8--------------------------------------------------------------
 PassengerId | 9
 Survived    | 1
 Pclass      | 3
 Name        | Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
 Sex         | female
 Age         | 27
 SibSp       | 0
 Parch       | 2
 Ticket      | 347742
 Fare        | 11.1333
 Cabin       | null
 Embarked    | S
-RECORD 9--------------------------------------------------------------
 PassengerId | 10
 Survived    | 1
 Pclass      | 2
 Name        | Nasser, Mrs. Nicholas (Adele Achem)
 Sex         | female
 Age         | 14
 SibSp       | 1
 Parch       | 0
 Ticket      | 237736
 Fare        | 30.0708
 Cabin       | null
 Embarked    | C
-RECORD 10-------------------------------------------------------------
 PassengerId | 11
 Survived    | 1
 Pclass      | 3
 Name        | Sandstrom, Miss. Marguerite Rut
 Sex         | female
 Age         | 4
 SibSp       | 1
 Parch       | 1
 Ticket      | PP 9549
 Fare        | 16.7
 Cabin       | G6
 Embarked    | S
-RECORD 11-------------------------------------------------------------
 PassengerId | 12
 Survived    | 1
 Pclass      | 1
 Name        | Bonnell, Miss. Elizabeth
 Sex         | female
 Age         | 58
 SibSp       | 0
 Parch       | 0
 Ticket      | 113783
 Fare        | 26.55
 Cabin       | C103
 Embarked    | S
-RECORD 12-------------------------------------------------------------
 PassengerId | 13
 Survived    | 0
 Pclass      | 3
 Name        | Saundercock, Mr. William Henry
 Sex         | male
 Age         | 20
 SibSp       | 0
 Parch       | 0
 Ticket      | A/5. 2151
 Fare        | 8.05
 Cabin       | null
 Embarked    | S
-RECORD 13-------------------------------------------------------------
 PassengerId | 14
 Survived    | 0
 Pclass      | 3
 Name        | Andersson, Mr. Anders Johan
 Sex         | male
 Age         | 39
 SibSp       | 1
 Parch       | 5
 Ticket      | 347082
 Fare        | 31.275
 Cabin       | null
 Embarked    | S
-RECORD 14-------------------------------------------------------------
 PassengerId | 15
 Survived    | 0
 Pclass      | 3
 Name        | Vestrom, Miss. Hulda Amanda Adolfina
 Sex         | female
 Age         | 14
 SibSp       | 0
 Parch       | 0
 Ticket      | 350406
 Fare        | 7.8542
 Cabin       | null
 Embarked    | S
-RECORD 15-------------------------------------------------------------
 PassengerId | 16
 Survived    | 1
 Pclass      | 2
 Name        | Hewlett, Mrs. (Mary D Kingcome)
 Sex         | female
 Age         | 55
 SibSp       | 0
 Parch       | 0
 Ticket      | 248706
 Fare        | 16
 Cabin       | null
 Embarked    | S
-RECORD 16-------------------------------------------------------------
 PassengerId | 17
 Survived    | 0
 Pclass      | 3
 Name        | Rice, Master. Eugene
 Sex         | male
 Age         | 2
 SibSp       | 4
 Parch       | 1
 Ticket      | 382652
 Fare        | 29.125
 Cabin       | null
 Embarked    | Q
-RECORD 17-------------------------------------------------------------
 PassengerId | 18
 Survived    | 1
 Pclass      | 2
 Name        | Williams, Mr. Charles Eugene
 Sex         | male
 Age         | null
 SibSp       | 0
 Parch       | 0
 Ticket      | 244373
 Fare        | 13
 Cabin       | null
 Embarked    | S
-RECORD 18-------------------------------------------------------------
 PassengerId | 19
 Survived    | 0
 Pclass      | 3
 Name        | Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)
 Sex         | female
 Age         | 31
 SibSp       | 1
 Parch       | 0
 Ticket      | 345763
 Fare        | 18
 Cabin       | null
 Embarked    | S
-RECORD 19-------------------------------------------------------------
 PassengerId | 20
 Survived    | 1
 Pclass      | 3
 Name        | Masselmani, Mrs. Fatima
 Sex         | female
 Age         | null
 SibSp       | 0
 Parch       | 0
 Ticket      | 2649
 Fare        | 7.225
 Cabin       | null
 Embarked    | C
only showing top 20 rows

In [20]:
df2.show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|  22|    1|    0|       A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|  38|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|  26|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|  35|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|  35|    0|    0|          373450|   8.05| null|       S|
|          6|       0|     3|    Moran, Mr. James|  male|null|    0|    0|          330877| 8.4583| null|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|  54|    0|    0|           17463|51.8625|  E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male|   2|    3|    1|          349909| 21.075| null|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|  27|    0|    2|          347742|11.1333| null|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|  14|    1|    0|          237736|30.0708| null|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female|   4|    1|    1|         PP 9549|   16.7|   G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|  58|    0|    0|          113783|  26.55| C103|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male|  20|    0|    0|       A/5. 2151|   8.05| null|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|  39|    1|    5|          347082| 31.275| null|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|  14|    0|    0|          350406| 7.8542| null|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|  55|    0|    0|          248706|     16| null|       S|
|         17|       0|     3|Rice, Master. Eugene|  male|   2|    4|    1|          382652| 29.125| null|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male|null|    0|    0|          244373|     13| null|       S|
|         19|       0|     3|Vander Planke, Mr...|female|  31|    1|    0|          345763|     18| null|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female|null|    0|    0|            2649|  7.225| null|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

In [23]:
df2.printSchema()

root
 |-- PassengerId: string (nullable = true)
 |-- Survived: string (nullable = true)
 |-- Pclass: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- SibSp: string (nullable = true)
 |-- Parch: string (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: string (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)

In [28]:
df2.describe()

DataFrame[summary: string, PassengerId: string, Survived: string, Pclass: string, Name: string, Sex: string, Age: string, SibSp: string, Parch: string, Ticket: string, Fare: string, Cabin: string, Embarked: string]