In [1]:
# Analyse player performance

In [2]:
import pandas as pd

In [31]:
df=pd.read_csv('deliveries_data.csv')
players=pd.read_csv('players_data.csv')
match_data=pd.read_csv('match_data.csv')

In [19]:
players.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 574 entries, 0 to 573
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   player_code    574 non-null    object
 1   player_id      574 non-null    int64
 2   full_name      0 non-null      float64
 3   country        574 non-null    object
 4   role           505 non-null    object
 5   batting_style  574 non-null    object
 6   bowling_style  526 non-null    object
 7   born           574 non-null    object
dtypes: float64(1), int64(1), object(6)
memory usage: 36.0+ KB

In [24]:
df.head()

,batting_team,bowling_team,batsman,bowler,over,ball,non_striker,total_runs,batsman_runs,extras_runs,match_id,wicket,wicket_kind,wicket_player_out,wicket_fielders
0,Kolkata Knight Riders,Royal Challengers Bangalore,SC Ganguly,P Kumar,0,1,BB McCullum,1,0,1,1.0,0.0,NaN,NaN,NaN
1,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,0,2,SC Ganguly,0,0,0,1.0,0.0,NaN,NaN,NaN
2,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,0,3,SC Ganguly,1,0,1,1.0,0.0,NaN,NaN,NaN
3,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,0,4,SC Ganguly,0,0,0,1.0,0.0,NaN,NaN,NaN
4,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,0,5,SC Ganguly,0,0,0,1.0,0.0,NaN,NaN,NaN

In [25]:
p1_data=df[df['batsman']=='GJ Maxwell']

In [30]:
p1_data['match_id'].unique()

array([250., 254., 380., 387., 392., 401., 405., 407., 412., 416., 420.,
       427., 429., 433., 438., 442., 446., 454., 455., 457., 458., 459.,
       463., 470., 474., 477., 492., 497., 501., 505., 507., 510., 520.,
       524., 527., 530., 535., 538., 545., 549., 553., 560., 582., 585.,
       588., 592., 596., 599., 603., 609., 619., 623., 625., 627., 631.,
       675., 678., 682., 688., 691., 695., 699., 701., 705., 711., 721.,
       724., 758., 763., 765., 769., 773., 778., 780., 792., 794., 799.,
       806.])

In [32]:
match_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 816 entries, 0 to 815
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   dates            816 non-null    object
 1   city             765 non-null    object
 2   season           816 non-null    int64
 3   host_team        816 non-null    object
 4   visiting_team    816 non-null    object
 5   toss_winner      816 non-null    object
 6   toss_decision    816 non-null    object
 7   venue            816 non-null    object
 8   result           816 non-null    int64
 9   winner           816 non-null    object
 10  player_of_match  812 non-null    object
 11  match_id         816 non-null    float64
dtypes: float64(1), int64(2), object(9)
memory usage: 76.6+ KB

In [38]:
mid=match_data[match_data['match_id']=='250.']

In [39]:
mid

Empty DataFrame
Columns: [dates, city, season, host_team, visiting_team, toss_winner, toss_decision, venue, result, winner, player_of_match, match_id]
Index: []

In [37]:
match_data.match_id.unique()

array([  1.,   2.,   3.,   4.,   5.,   6.,   7.,   8.,   9.,  10.,  11.,
        12.,  13.,  14.,  15.,  16.,  17.,  18.,  19.,  20.,  21.,  22.,
        23.,  24.,  25.,  26.,  27.,  28.,  29.,  30.,  31.,  32.,  33.,
        34.,  35.,  36.,  37.,  38.,  39.,  40.,  41.,  42.,  43.,  44.,
        45.,  46.,  47.,  48.,  49.,  50.,  51.,  52.,  53.,  54.,  55.,
        56.,  57.,  58.,  59.,  60.,  61.,  62.,  63.,  64.,  65.,  66.,
        67.,  68.,  69.,  70.,  71.,  72.,  73.,  74.,  75.,  76.,  77.,
        78.,  79.,  80.,  81.,  82.,  83.,  84.,  85.,  86.,  87.,  88.,
        89.,  90.,  91.,  92.,  93.,  94.,  95.,  96.,  97.,  98.,  99.,
       100., 101., 102., 103., 104., 105., 106., 107., 108., 109., 110.,
       111., 112., 113., 114., 115., 116., 117., 118., 119., 120., 121.,
       122., 123., 124., 125., 126., 127., 128., 129., 130., 131., 132.,
       133., 134., 135., 136., 137., 138., 139., 140., 141., 142., 143.,
       144., 145., 146., 147., 148., 149., 150., 151., 152., 153., 154.,
       155., 156., 157., 158., 159., 160., 161., 162., 163., 164., 165.,
       166., 167., 168., 169., 170., 171., 172., 173., 174., 175., 176.,
       177., 178., 179., 180., 181., 182., 183., 184., 185., 186., 187.,
       188., 189., 190., 191., 192., 193., 194., 195., 196., 197., 198.,
       199., 200., 201., 202., 203., 204., 205., 206., 207., 208., 209.,
       210., 211., 212., 213., 214., 215., 216., 217., 218., 219., 220.,
       221., 222., 223., 224., 225., 226., 227., 228., 229., 230., 231.,
       232., 233., 234., 235., 236., 237., 238., 239., 240., 241., 242.,
       243., 244., 245., 246., 247., 248., 249., 250., 251., 252., 253.,
       254., 255., 256., 257., 258., 259., 260., 261., 262., 263., 264.,
       265., 266., 267., 268., 269., 270., 271., 272., 273., 274., 275.,
       276., 277., 278., 279., 280., 281., 282., 283., 284., 285., 286.,
       287., 288., 289., 290., 291., 292., 293., 294., 295., 296., 297.,
       298., 299., 300., 301., 302., 303., 304., 305., 306., 307., 308.,
       309., 310., 311., 312., 313., 314., 315., 316., 317., 318., 319.,
       320., 321., 322., 323., 324., 325., 326., 327., 328., 329., 330.,
       331., 332., 333., 334., 335., 336., 337., 338., 339., 340., 341.,
       342., 343., 344., 345., 346., 347., 348., 349., 350., 351., 352.,
       353., 354., 355., 356., 357., 358., 359., 360., 361., 362., 363.,
       364., 365., 366., 367., 368., 369., 370., 371., 372., 373., 374.,
       375., 376., 377., 378., 379., 380., 381., 382., 383., 384., 385.,
       386., 387., 388., 389., 390., 391., 392., 393., 394., 395., 396.,
       397., 398., 399., 400., 401., 402., 403., 404., 405., 406., 407.,
       408., 409., 410., 411., 412., 413., 414., 415., 416., 417., 418.,
       419., 420., 421., 422., 423., 424., 425., 426., 427., 428., 429.,
       430., 431., 432., 433., 434., 435., 436., 437., 438., 439., 440.,
       441., 442., 443., 444., 445., 446., 447., 448., 449., 450., 451.,
       452., 453., 454., 455., 456., 457., 458., 459., 460., 461., 462.,
       463., 464., 465., 466., 467., 468., 469., 470., 471., 472., 473.,
       474., 475., 476., 477., 478., 479., 480., 481., 482., 483., 484.,
       485., 486., 487., 488., 489., 490., 491., 492., 493., 494., 495.,
       496., 497., 498., 499., 500., 501., 502., 503., 504., 505., 506.,
       507., 508., 509., 510., 511., 512., 513., 514., 515., 516., 517.,
       518., 519., 520., 521., 522., 523., 524., 525., 526., 527., 528.,
       529., 530., 531., 532., 533., 534., 535., 536., 537., 538., 539.,
       540., 541., 542., 543., 544., 545., 546., 547., 548., 549., 550.,
       551., 552., 553., 554., 555., 556., 557., 558., 559., 560., 561.,
       562., 563., 564., 565., 566., 567., 568., 569., 570., 571., 572.,
       573., 574., 575., 576., 577., 578., 579., 580., 581., 582., 583.,
       584., 585., 586., 587., 588., 589., 590., 591., 592., 593., 594.,
       595., 596., 597., 598., 599., 600., 601., 602., 603., 604., 605.,
       606., 607., 608., 609., 610., 611., 612., 613., 614., 615., 616.,
       617., 618., 619., 620., 621., 622., 623., 624., 625., 626., 627.,
       628., 629., 630., 631., 632., 633., 634., 635., 636., 637., 638.,
       639., 640., 641., 642., 643., 644., 645., 646., 647., 648., 649.,
       650., 651., 652., 653., 654., 655., 656., 657., 658., 659., 660.,
       661., 662., 663., 664., 665., 666., 667., 668., 669., 670., 671.,
       672., 673., 674., 675., 676., 677., 678., 679., 680., 681., 682.,
       683., 684., 685., 686., 687., 688., 689., 690., 691., 692., 693.,
       694., 695., 696., 697., 698., 699., 700., 701., 702., 703., 704.,
       705., 706., 707., 708., 709., 710., 711., 712., 713., 714., 715.,
       716., 717., 718., 719., 720., 721., 722., 723., 724., 725., 726.,
       727., 728., 729., 730., 731., 732., 733., 734., 735., 736., 737.,
       738., 739., 740., 741., 742., 743., 744., 745., 746., 747., 748.,
       749., 750., 751., 752., 753., 754., 755., 756., 757., 758., 759.,
       760., 761., 762., 763., 764., 765., 766., 767., 768., 769., 770.,
       771., 772., 773., 774., 775., 776., 777., 778., 779., 780., 781.,
       782., 783., 784., 785., 786., 787., 788., 789., 790., 791., 792.,
       793., 794., 795., 796., 797., 798., 799., 800., 801., 802., 803.,
       804., 805., 806., 807., 808., 809., 810., 811., 812., 813., 814.,
       815., 816.])

In [27]:
match1=p1_data['total_runs']

In [29]:
match1.max()

6

In [13]:
bg_vn_matches.head()

,dates,city,season,host_team,visiting_team,toss_winner,toss_decision,venue,result,winner,player_of_match,match_id
0,2008-04-18,Bangalore,2008,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,M Chinnaswamy Stadium,1,Kolkata Knight Riders,BB McCullum,1.0
11,2008-04-26,Bangalore,2008,Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,field,M Chinnaswamy Stadium,1,Rajasthan Royals,SR Watson,12.0
14,2008-04-28,Bangalore,2008,Royal Challengers Bangalore,Chennai Super Kings,Chennai Super Kings,bat,M Chinnaswamy Stadium,1,Chennai Super Kings,MS Dhoni,15.0
21,2008-05-03,Bangalore,2008,Royal Challengers Bangalore,Deccan Chargers,Deccan Chargers,field,M Chinnaswamy Stadium,1,Royal Challengers Bangalore,P Kumar,22.0
24,2008-05-05,Bangalore,2008,Royal Challengers Bangalore,Kings XI Punjab,Kings XI Punjab,field,M Chinnaswamy Stadium,1,Kings XI Punjab,S Sreesanth,25.0